@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
   margin: 0;
   padding: 0;
}

section {
   background:hsl(233, 47%, 7%);
   color: hsl(0, 0%, 100%);
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   width: 100vw;
   height: 50em;
   max-height: 120em;
}

main {
   width: 80%;
   height: max-content;
   background: hsl(244, 38%, 16%);
   border-radius: 0.3em;
}

.mobile-image-container {
   background-color: hsl(277, 64%, 61%);
   width: 100%;
   height: 14em;
   border-radius: 0.3em 0.3em 0 0;
   display: block;
}

.desktop-image-container {
   background-color: hsl(277, 64%, 61%);
   width: 100%;
   height: 14em;
   border-radius: 0.3em 0.3em 0 0;
   display: none;
}

.mobile-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   mix-blend-mode: multiply;
   opacity: 0.8;
}

.desktop-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   mix-blend-mode: multiply;
   opacity: 0.8;
}

.content {
   padding-top: 3em;
   width: 100%;
}

h1 {
   width: 10em;
   margin: auto auto;
   text-align: center;
   font-family: 'Lexan Deca', sans-serif;
}

span {
   color: hsl(277, 64%, 61%);
}

.para {
   padding-top: 1em;
   width: 16em;
   margin: auto auto;
   text-align: center;
   line-height: 1.5rem;
   color: hsla(0, 0%, 100%, 0.6);
   font-family: 'Inter', sans-serif;
   font-size: 1rem;
}

.templates {
   width: 100%;
   margin-top: 2.5em;
   
}

.t-1 {
   width: 16em;
   margin: auto auto;
   text-align: center;
   padding-bottom: 2em;
}

.t-1 > h4 {
   font-family: 'Inter', sans-serif;
      font-weight: 500;
   font-size: 1.2rem;
   padding-bottom: 0.5em;
}

.t-p {
   padding-top: 0;
   letter-spacing: 0.3em;
   text-transform: uppercase;
   font-size: 0.5rem;
   font-family: 'Inter', sans-serif;
   color: hsla(0, 0%, 100%, 0.6);
}

@media only screen and (min-width: 768px) {
   main {
      display: flex;
   }

   .mobile-image-container {
      display: none;
   }

   .desktop-image-container {
      background-color: hsl(277, 64%, 61%);
   width: 100%;
   height: 100%;
   border-radius: 0.3em 0.3em 0 0;
      display: block;
      flex: 1;
   }
   
   .content {
      flex: 1;
   }

   h1 {
      width: 12em;
      padding-top: 0.2em;
      text-align: left;
      font-family: 'Lexan Deca', sans-serif;
      font-size: 1.5rem;
      margin-left: 1em;
   }

   .para-container {
      /* border: 3px solid white; */
      margin-top: 1.5em;
   }


   .para {
      padding-top: 1em;
      width: 23em;
      margin-left: 2em;
      text-align: left;
      line-height: 1.3rem;
      color: hsla(0, 0%, 100%, 0.75);
      font-family: 'Inter', sans-serif;
      font-size: 0.8rem;
   }

   .templates {
      display: flex;
      width: 18em;
      padding:0;
      margin-left: 1.5em;
      /* margin: auto auto; */
      margin-top: 1.5em;
      align-items: center;
      /* border: 2px solid white; */
      justify-content: space-evenly;
   }

   .t-1 > h4 {
      width: fit-content;
      text-align: center;
      font-size: 1rem;
      font-family: 'Inter', sans-serif;
      font-weight: 500;
   }

   .t-p {
      width: fit-content;
      text-align: center;
      font-size: 0.5rem;
   }
}

@media only screen and (min-width: 1024px) {
   main {
      display: flex;
   }

   .mobile-image-container {
      display: none;
   }

   .desktop-image-container {
      background-color: hsl(277, 64%, 61%);
   width: 100%;
   height: 100%;
   border-radius: 0 0.3em 0.3em 0;
      display: block;
      flex: 1;
   }
   
   .content {
      flex: 1;
      /* border: 3px solid yellow; */
   }

   h1 {
      width: 12em;
      padding-left: 0;
      margin-left: 1em;
      padding-top: 0.5em;
      text-align: left;
      font-family: 'Lexan Deca', sans-serif;
      font-size: 2rem;
   }

   .para-container {
      /* border: 3px solid greenyellow; */
      width: 100%;
      margin-top: 2em;
   }

   .para {
      margin-left: 2.0em;
      padding-top: 0;
      width: 22em;
      text-align: left;
      line-height: 1.5rem;
      color: hsla(0, 0%, 100%, 0.6);
      font-family: 'Inter', sans-serif;
      font-size: 1rem;
   }

   .templates {
      display: flex;
      width: 21em;
      margin-left: 2.5em;
      /* margin: auto auto; */
      margin-top: 4.5em;
      align-items: center;
      /* border: 2px solid white; */
      justify-content: space-evenly;
   }

   .t-1 > h4 {
      width: fit-content;
      text-align: center;
      font-size: 1.5rem;
      font-family: 'Inter', sans-serif;
      font-weight: 500;
   }

   .t-p {
      width: fit-content;
      text-align: center;
   }
}

@media only screen and (min-width: 1440px) {
   main {
      display: flex;
      height: fit-content;
   }

   .mobile-image-container {
      display: none;
   }

   .desktop-image-container {
      background-color: hsl(277, 64%, 61%);
   width: 100%;
   height: 100%;
   border-radius: 0.3em 0.3em 0 0;
      display: block;
      flex: 1;
   }
   
   .content {
      flex: 1;
      /* border: 3px solid yellow; */
   }

   h1 {
      width: 12em;
      padding-left: 1em;
      padding-top: 0.5em;
      text-align: left;
      font-family: 'Lexan Deca', sans-serif;
      font-size: 2.5rem;
      margin: auto auto;
   }

   .para-container {
      /* border: 3px solid greenyellow; */
      width: 100%;
      margin-top: 2.5em;
   }

   .para {
      margin-left: 3.5em;
      padding-top: 0;
      width: 22em;
      text-align: left;
      line-height: 1.5rem;
      color: hsla(0, 0%, 100%, 0.6);
      font-family: 'Inter', sans-serif;
      font-size: 1.2rem;
   }

   .template-container {
      /* border: 3px solid white; */
      margin-top: 5em;
   }

   .templates {
      display: flex;
      width: 30em;
      padding:0;
      margin-left: 4.5em;
      /* margin: auto auto; */
      margin-top: 0;
      align-items: center;
      /* border: 2px solid white; */
      justify-content: space-evenly;
   }

   .t-1 > h4 {
      width: fit-content;
      text-align: center;
      font-size: 1.5rem;
   }

   .t-p {
      width: fit-content;
      text-align: center;
      font-size: 0.6rem;
   }
}

