@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
   margin: 0;
   padding: 0;
}

.main_container {
   width: 100vw;
   height: 100vh;
   background: hsl(233, 47%, 7%);
   color: hsl(0, 0%, 100%);
   display: flex;
   align-items: center;
   justify-content: center;
}

.container {
   width: 80%;
   height: max-content;
   background:hsl(244, 38%, 16%);
   border-radius: 8px;
}

.images_mobile {
   border-radius: 8px 8px 0 0;
   width: 100%;
   height: 250px;
   background: url('images/image-header-mobile.jpg') no-repeat;
   background-size: cover;
   position: relative;
   overflow: hidden;  
}

.images_desktop {
   border-radius: 8px 8px 0 0;
   width: 100%;
   height: 250px;
   background: url('images/image-header-mobile.jpg') no-repeat;
   background-size: cover;
   position: relative;
   overflow: hidden;  
   display: none;
}

.overlay {
   position: absolute;
   top:0;
   left:0;
   width: 100%;
   height: 250px;
   background:hsla(244, 38%, 16%, 0.8);
}

.desktop_image {
   display: none;
}

.description {
   text-align: center;
   padding-top: 24px;
   width: 100%;
   margin: auto auto;
   padding-bottom: 16px;
}

h1 {
   font-size: 24px;
   width: 90%;
   margin: auto auto;
   font-family: 'Lexend Deca', sans-serif;
}


span {
   color: hsl(277, 64%, 61%);
}

p {
   margin-top: 12px;
   padding-top: 12px;
   font-size: 15px;
   width: 90%;
   margin: auto auto;
   font-family: 'Inter', sans-serif;
   line-height: 24px;
   color: hsla(0, 0%, 100%, 0.75);
}

h3 {
   font-size: 15px;
   font-family: 'Inter', sans-serif;
   font-weight: 800;
   margin-top: 12px;
}

.comm {
   font-size: 12px;
   letter-spacing: 2px;
   color: hsla(0, 0%, 100%, 0.75);
   text-transform: uppercase;
}


h3 {
   font-size: 15px;
   padding-top: 12px;
}

@media only screen and (min-width: 768px) {
   .main_container {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   
   .templates {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 70%;
      position: relative;
      left: 15%;
      padding-top: 24px;
   }
}


@media only screen and (min-width: 1024px) {
   .main_container {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .container {
      display: flex;
      align-items: center;
      width: 80%;
      height: 450px;
   }

   .images_mobile {
      display: none;
   }

   .images_desktop {
      border-radius: 0 8px 8px 0;
      width: 100%;
      height: 100%;
      background: white;
      display: block;
      filter: hue-rotate(100deg);
   }
  
   img {
      width: 100%;
      height: 100%;
   }

   .description {
      padding-top: 24px;
      width: 100%;
      margin: auto auto;
      padding-bottom: 16px;
   }
   
   h1 {
      font-size: 38px;
      font-family: 'Lexend Deca', sans-serif;
      width: 80%;
      margin: 0;
      text-align: start;
      position: relative;
      left: 10%;
   }
   
   
   span {
      color: hsl(277, 64%, 61%);
   }
   
   p {
      text-align: start;
      margin-top: 12px;
      font-size: 15px;
      width: 60%;
      margin: 0;
      position: relative;
      left: 10%;
      font-family: 'Inter', sans-serif;
      line-height: 24px;
      color: hsla(0, 0%, 100%, 0.75);
   }
   
   h3 {
      font-size: 24px;
      font-family: 'Inter', sans-serif;
      font-weight: 800;
      margin-top: 12px;
      
   }
   
   .comm {
      font-size: 12px;
      letter-spacing: 2px;
      color: hsla(0, 0%, 100%, 0.75);
      text-transform: uppercase;
   }
   
   .templates {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 70%;
      position: relative;
      left: 10%;
      padding-top: 24px;
   }

}
